<html>
    <body>
        <h1>Invoice {$order->name}</h1>
        <p>
            <b>Dear customer</b>, we are so happy for you buying our products.
            Your invoice is in attachments.
        </p>
    </body>
</html>