{block content}
<a href="/basket">Basket</a>
<a href="/user/list">User list</a>
<a href="auth/login">Login</a>
<h1>Product listing</h1>
{foreach $products as $product}
    {include 'default.latte' product => $product}
{/foreach}