parameters:
    #Roles
    guest: guest
    member: member
    admin: admin
    error: Error

security:
    roles:
        guest:
        member: [guest]
        admin:

application:
	errorPresenter: %error%
	catchExceptions: false #true for production server
	#catchExceptions: true
	mapping:
	    Admin: App\AdminModule\*Presenter
	    *: App\*Module\Presenters\*Presenter

forms:
        messages:
                REQUIRED: 'Required field.'

di:
    debugger: true

php:
        date.timezone: Europe/Prague

session:
	expiration: 30 minutes
	debugger: true

database:
	dsn: 'mysql:host=127.0.0.1;dbname=eshop'
	user: root
	password:
	options:
	       lazy: yes
	       debugger: true

services:
	router: App\RouterFactory::createRouter #Router settings
	authenticator: App\Model\AuthManager #AuthManager settings
	- App\CoreModule\Model\Shop\Basket
	- App\Forms\UserFormFactory
	- App\Forms\AdministrationFormFactory

includes:
        - ../CoreModule/config/config.neon